<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 notes" style="">
  <% @notes.each do |note| %>
    <%= link_to note, class: 'text-muted col-md-3 col-lg-3 col-xs-12 col-sm-4 links' do %>
      <%#= link_to 'Edit', edit_note_path(note) %>
      <div class="notesContainer">
        <div class="noteTitle"><%= note.title %></div>
      </div>
      <%#= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>

  <%= link_to new_note_path, class: "text-muted col-md-3 col-lg-3 col-xs-6 col-sm-4 new-link" do %>
    <div class="notesContainer new" title="New Note" data-toggle="tooltip" data-placement="bottom">
      <div class="noteTitle" style="top: 38%;font-size:13px;"><i class="fa fa-plus fa-4x"></i></div>
    </div>
  <% end %>
</div>




