
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 notes" >
	<div class="container-fluid whiteContainer">
    	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 navigation">
    		<%= link_to 'Home', notes_path, class: '' %>/ New Note
    	</div>
    	<%= render 'form' %>                       
    </div>
</div>

